.btn {
  border: 0.1rem solid #c0c0c0;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 1rem 0.8rem;
  cursor: pointer;

  border-radius: 1rem;
  background-color: #ffffff;
}

.btn:hover {
  box-shadow: 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  background-color: #eeeeee;
}

.accountBox {
  font-size: 1.2rem;

  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem #777777;

  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
