.generateCollectionContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 115rem;
  height: 75rem;

  background-color: #efefef;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  border: 0.1rem solid #e0e0e0;
}

.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.inputNftHero {
  width: 30rem;
}

.inputNftFeatures {
  width: 30rem;
}

.inputNftNumber {
  width: 30rem;
}

.selectNftNumber {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  height: 3.45rem;
  width: 30rem;
}

.selectNftNumber label {
  font-weight: 500;

  display: inline-flex;
  gap: 0.3rem;
  align-items: center;
}

.baseImageContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;

  /* justify-content: center; */
  margin-top: 2rem;

  height: 20rem;
}

.baseImageAndLabel {
  display: flex;
  flex-direction: column;

  height: 15rem;
  width: 21rem;
}

.generateBaseButtonAndFeatures {
  display: flex;
  flex-direction: column;

  height: 20rem;
  width: 21rem;
}

.featureListed {
  list-style: none;
  font-size: 1.2rem;
}

.generateButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.cardCanvasTitle {
  /* margin-top: 4rem; */
  margin-left: auto;
  margin-right: auto;
  width: 25rem;

  font-size: 3rem;
  color: #707070;
}

.cardCanvas {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */

  gap: 1rem;
}
